html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
#modal, .book {
    border-radius: 7px;
}

/* Main */
#library-container {
    background-color: rgb(236, 236, 238);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.library-header {
    background-color: white;
    font-family: 'Nova Round', cursive;
    font-size: 3rem;
    padding: 2rem 3rem;
}

#add-new-book-btn {
    background-color: #00a0dc;
    align-self: center;
    border: 0;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: .75rem;
    width: 15rem;
}

/* Modal ------------------------------ */
#modal::backdrop {
    background-image: linear-gradient(to right, #8360c3, #0085e2, #00a0dc, #00b3bb, #2ebf91);
    opacity: .5;
}

#modal {
    font-size: 1rem;
    border: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input[type="text"], input[type="number"], option {
    padding: .5rem;
}

.modal-btn {
    border: 0;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    padding: .75rem 0;
}

#submit-btn {
    background-color: #2ebf91;
}

#close-btn {
    background-color: #c36086;
}

select, option {
    margin-left: 5px;
    height: 32px;
}

/* Books ------------------------- */
#library-display {
    min-height: 100%;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    row-gap: 4rem;
    justify-items: center;
    margin: 0 6rem 2rem 6rem;
}

.book-header {
    font-size: 1.5rem;
    font-weight: bold;
}

.book {
    background-color: white;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 350px;
    padding: 1rem;
    gap: 1rem;
}

.delete-btn, .read-btn {
    border: 0;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    padding: .75rem 0;
}

.delete-btn {
    background-color: #c36086;
}

.read-btn {
    background-color: #8360c3;
}